.font-family-mono {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-family-primary {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}